.NutrientTable{
    
    .nutrientContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nutrientContainer h5{
        background-color: #fee86d;
        /* padding: x 16px; */
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        padding: 21px;
        text-align: left;
        margin: 0;
        background-color: #fee86d;
        padding: 21px 16px;
        text-align: center;
        width: -webkit-fill-available;
        font-size: 30px;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
    }
    .nutrientsContents{
        display: flex;
        flex-wrap: wrap;
        width: -webkit-fill-available;
        justify-content: initial;
        padding: 11px 16px;
        background-color: #f8f6e6;
    
    }
    .nutrientsContents p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nutrientsContents p span:first-child{
        font-family: 'Merriweather', serif;
        font-weight: 590;
    }


}