.spinnerContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.cardActionContainer{
  /* text-align: end; */
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  top: 10px;
  width: 100%;
  .dropDownContents{
    margin-right: 15px;
    color: #ffc107
  }
  .cardActions{
    padding-left: 15px;
    
    .cardActionDelete{
      text-decoration: none!important;
    }
  }
  .cardActions:hover{
      background-color: #ffc107;
    }
}