.Filter{
    
}


.filter{
    /* border: 2px dotted red; */
}
.filter-indicator{
    margin: 20px 0;
}
::-webkit-input-placeholder {
    font-style: italic;
 }
 :-moz-placeholder {
    font-style: italic;  
 }
 ::-moz-placeholder {
    font-style: italic;  
 }
 :-ms-input-placeholder {  
    font-style: italic; 
 }
 
.showMore {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #0077c8 !important;
    text-decoration: none;
  }
 
  
  h4 {
    margin: 0px 0px 4px 0px;
  }
  /* ,formState: { errors } */