.Dashboard {
    height: 81vh;
    overflow: auto;
    .cardContainer{
        overflow: auto;
    }
    .mobileNavigationContainer{
        display: none;
    }
    .desktopContainer{
        height: 80.5vh;
    }
    .dropdown-menu{
        border: none
    }
    .DashboardContents{
        margin-left: 10px;
    }
}


.canvasBodyContainer{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media (max-width: 990px) {
   .Dashboard{
    height: initial;
       .desktopContainer{
            display: none;
        }
        .mobileNavigationContainer{
            display: block;
        }
    }
    .canvasContainer{
        top: 0px !important;
    } 
}
