.Dashboard {
    height: 81vh;
    overflow: auto;
    .cardContainer{
        overflow: auto;
        overflow-x: hidden;
    }
    .mobileNavigationContainer{
        display: none;
    }
    .desktopContainer{
        height: 80.5vh;
    }
    .dropdown-menu{
        border: none
    }
    .DashboardContents{
        margin-left: -3rem;
    }
}


.canvasBodyContainer{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media (max-width: 990px) {
   .Dashboard{
    height: initial;
       .desktopContainer{
            display: none;
        }
        .mobileNavigationContainer{
            display: block;
        }
    }
    .canvasContainer{
        top: 0px !important;
    } 
    .DashboardContents{
        margin-left: 0 !important;
    }
}
@media (min-width: 1200.5px) and (max-width: 1400px) {
   .Dashboard{
    .DashboardContents{
        margin-left: -7px !important;
    }
}
}
@media (min-width: 990.5px) and (max-width: 1200px) {
   .Dashboard{
    .DashboardContents{
        margin-left: 30px !important;
    }
}
}