.AllRecipesContainer{
    margin-top: 2rem;
    .mobileNavigationContainer{
        display: none;
    }
    .dropdown-menu{
        border: none
    }
}

@media (max-width: 990px) {
    .AllRecipes{
        .desktopContainer{
             display: none;
         }
         .mobileNavigationContainer{
             display: block;
         }
     } 
 }
 .offcanvas-parent {
     position: relative;
   }
.offcanvas-header{
    justify-content: flex-end!important;
}
