.EventsContainer {
    height: inherit;
    display: flex;
    flex-direction: column;
    .EventNav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
        li:last-of-type{
            margin-left: auto
        }
    }
    .panelContainer, .isActivePanel{
        flex-grow: 1;
        display: inherit;
        flex-direction: column;
    }
    .activeCompNav{
        border-bottom: 1px solid #ccee;
        border: 2px solid red;
    }
    .calendarContent{
        margin: auto
    }
    .ModalHeader{
        border: none;
    }
    .ModalFooter{
        display: flex;
        justify-content: space-between;
        align-items: center
    }
    
}

@media (max-width: 990px) {
    .panelContainer{
        height: 35.5rem;
    }
 }