.Media {
    .MediaCardContainer{
        border: 1px solid #ededed;
        box-shadow: 0.3rem 0.3rem 0.625rem 0.188rem rgba(0,0,0,0.10);
        font-size: 12px;
        .circleLikeIcon{
            margin-top: -4px;
            margin-right: 5px;
        }
        hr{
            margin: 0;
        }
        .MediaAccountHeader{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 5px;
            margin-bottom: 16px;
            .dotIcon{
                margin-left: auto
            }
            .mediaAvatar{
                border-radius: 50%;
                width: 2.5rem;
                height: 2.5rem;
                background: #EDECF2;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: x-large;
            }
            .yourPage > div{
                &:first-child{
                    font-weight: 600;
                }
                &:last-child{
                    color: grey;
                }
            }
        }
        img{
            border-radius: 0;
        }
        .MediaInteraction{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .mediaDescContainer{
            background: #F6F7F9;
            .MediaDesc{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .mediaName{
                    color: grey
                }
                .buyTicket{
                    border: 1px solid black;
                    padding: 0.1rem 1rem;
                    font-size: 12px;
                    text-align: center;
                    font-weight: 600;
                }
            }
        }
    }
}