.CustomPagination {
    position: absolute;
    width: 100%;
    bottom: 0;
    .linkSpan{
        border: none;
        /* height: 38px;
        width: 15px; */
        /* height: 38px; */
        font-size: 13px;
        border-radius: 50%;
        background: none;
        color: inherit;
    }
    .active, .linkSpan:hover{
        border-bottom: 2px solid gold;
        background: none;
    }

    .previousPage span, 
    .nextPage span{
        border: none;
    }
}
